<div class="container">
	<div class="row">
		<div class="col s3" id="menu">
			<a *ngFor="let item of menuItems; let i=index" routerLinkActive="selected" routerLink="{{menuUrls[i]}}" [routerLinkActiveOptions]="{exact:true}">{{item}} ({{counts[i]}})</a>
		</div>
		<div class="col s9 ">
				<div class="row center">
					<div class="col s6 table_title">
						{{title}}
					</div>
					<div class="col s6">
						<input type="text" id="searchInput" (keyup)="searchEmoji()" placeholder="Поиск..." />
					</div>					
				</div>
				<div class="row">
					<div class="col s2 center">
						Имя
					</div>
					<div class="col s7 center">
						Ссылка
					</div>
					<div class="col s1 center">
						Превью
					</div>
					<div class="col s2 center">
						Действия
					</div>					
				</div>
				<div id="table" *ngIf="deleted">
					<div class="row" *ngFor="let item of objectKeys(deleted); let i = index;" >
						<div class="col s2"><div class="ico_name" title="{{item}}">{{item}}</div></div>
						<div class="col s7"><a class="underline emoji_link" href="{{deleted[item]}}" target="_blank">{{deleted[item]}}</a></div>
						<div class="col s1 center"><img class="emoji tooltipped favorite_emoji" width="25" src="{{deleted[item]}}" [attr.data-tooltip]="'<img src='+deleted[item]+' alt=>'" alt="{{item}}" /></div>
						<div class="col s2 center">
							<i href="#" title='Восстановить' (click)="restoreEmoji(item)" class="material-icons restore">replay</i>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>